<div class="experience">
    <div class="experience-container">
      <h2>Professional Experience</h2>
      <div class="job">
        <h3>Sr Software Development Engineer – CVS Health</h3>
        <span class="date">Jul 2018 – Dec 2024</span>
        <ul>
          <li>Led migration from AngularJS to modern Angular (6, 8, 12).</li>
          <li>Developed SPAs for Retail, Specialty, and Caremark customers using Angular 17.</li>
          <li>Integrated OIDC authentication, lazy loading, monorepo architecture using &#64;NRWL.
        </li>
          <li>Architected Micro Front-End apps and shared NgRx state across teams.</li>
          <li>Used Node.js, Firebase, GCP, REST APIs for backend integration.</li>
        </ul>
      </div>
      <div class="job">
        <h3>Application Engineer – Satya Soft Solutions</h3>
        <span class="date">Oct 2017 – Jul 2018</span>
        <ul>
          <li>Built enterprise web applications using AngularJS, Backbone.js, and Node.js.</li>
          <li>Designed REST/SOAP APIs and implemented secure business logic.</li>
          <li>Optimized database queries and handled cross-browser mobile compatibility.</li>
        </ul>
      </div>
      <div class="job">
        <h3>Jr Programmer – IntellecTechs</h3>
        <span class="date">Dec 2011 – Mar 2015</span>
        <ul>
          <li>Developed responsive UIs with HTML, CSS, JavaScript, and Spring MVC.</li>
          <li>Performed extensive debugging and client-side validations.</li>
          <li>Built dynamic interfaces integrating JSP, JDBC, and Java.</li>
        </ul>
      </div>
    </div>
  </div>