<div class="about">
    <div class="about-container">
      <h2>About Me</h2>
      <p>
        I'm <strong>Surendra Arithoti</strong>, a seasoned Software Engineer with over a decade of experience architecting, developing,
        and maintaining large-scale enterprise web applications. I specialize in building scalable and high-performing frontend solutions using
        <strong>Angular, TypeScript, and Node.js</strong> and have successfully led major migrations from AngularJS to modern Angular frameworks.
      </p>
      <p>
        I’m passionate about creating modular, reusable UI components and delivering seamless user experiences using modern design systems and best practices like <strong>NgRx, Micro Frontends, and SSR</strong>.
        I thrive in agile environments, mentor teams, and constantly explore evolving technologies such as <strong>GraphQL and Firebase</strong> to stay ahead.
      </p>
      <p>
        With a strong foundation in both frontend and backend development, I love bridging design with functionality and delivering robust, elegant digital solutions.
      </p>
    </div>
  </div>