<div class="education">
    <div class="education-container">
      <h2>Education</h2>
  
      <div class="degree">
        <h3>Masters in Information Technology Management</h3>
        <span class="institution">Campbellsville University, KY</span>
        <span class="date">2019</span>
      </div>
  
      <div class="degree">
        <h3>Masters in Computer Science</h3>
        <span class="institution">Silicon Valley University, CA</span>
        <span class="date">2016</span>
      </div>
  
      <div class="degree">
        <h3>Bachelors in Electronics and Communication Engineering</h3>
        <span class="institution">JNTU, Hyderabad, India</span>
        <span class="date">2011</span>
      </div>
    </div>
  </div>