<div class="skills">
    <div class="skills-container">
      <h2>Technical Skills</h2>
      <div class="category">
        <h3>Frontend</h3>
        <mat-chip-list>
          <mat-chip color="primary" selected>Angular 17</mat-chip>
          <mat-chip>TypeScript</mat-chip>
          <mat-chip>RxJS</mat-chip>
          <mat-chip>NgRx</mat-chip>
          <mat-chip>SCSS</mat-chip>
          <mat-chip>HTML5</mat-chip>
          <mat-chip>CSS3</mat-chip>
          <mat-chip>JavaScript</mat-chip>
          <mat-chip>Angular Material</mat-chip>
        </mat-chip-list>
      </div>
      <div class="category">
        <h3>Backend</h3>
        <mat-chip-list>
          <mat-chip color="primary" selected>Node.js</mat-chip>
          <mat-chip>Express.js</mat-chip>
          <mat-chip>MongoDB</mat-chip>
          <mat-chip>MySQL</mat-chip>
          <mat-chip>C#</mat-chip>
          <mat-chip>ASP.NET</mat-chip>
        </mat-chip-list>
      </div>
      <div class="category">
        <h3>Tools & Cloud</h3>
        <mat-chip-list>
          <mat-chip color="primary" selected>GCP</mat-chip>
          <mat-chip>Firebase</mat-chip>
          <mat-chip>Git</mat-chip>
          <mat-chip>Docker</mat-chip>
          <mat-chip>JIRA</mat-chip>
          <mat-chip>Postman</mat-chip>
          <mat-chip>CI/CD</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>